<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PJEvents - Inicio</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header>
        <h1>PJEvents</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="registro.html">Registro</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="hero">
            <h2>Bienvenido a PJEvents</h2>
            <p>Organizando los mejores eventos para ti</p>
            <a href="registro.html" class="cta-button">Regístrate Ahora</a>
        </section>
        <section id="sobre-nosotros">
            <h2>Sobre Nosotros</h2>
            <p>Somos PJEvents, una empresa especializada en la organización de eventos. Organizamos conferencias, conciertos, viajes... nuestro equipo está comprometido en hacer realidad los sueños de nuestros clientes.</p>
            <p>Con años de experiencia en el sector, hemos construido una sólida reputación por nuestra creatividad, profesionalismo y atención al detalle. Nos enorgullecemos de ofrecer un servicio personalizado, trabajando estrechamente con cada cliente para garantizar que su evento sea único y memorable.</p>
            <p>Ya sea que estés planeando un evento íntimo o un gran acontecimiento, estamos aquí para ayudarte en cada paso del camino. ¡Permítenos hacer de tu próximo evento una experiencia inolvidable!</p>
        </section>
    </main>
    
    <footer>
        <p>Contacto: pjevents@gmail.com | Teléfono: +34 666666666</p>
        
        <ul class="redes-sociales">
            <li><a href="https://facebook.com/tupagina" target="_blank">Facebook</a></li>
            <li><a href="https://instagram.com/tupagina" target="_blank">Instagram</a></li>
        </ul>
        <p>Derechos de Autor © 2024 PJEvents. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
