<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PJEvents - Registro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>PJEvents</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="registro.html">Registro</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="registration">
            <h2>Regístrate</h2>
            <form action="#" method="POST">
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" required><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
                <input type="submit" value="Registrarse">
            </form>
        </section>
    </main>
    
    <footer>
        <p>Contacto: pjevents@gmail.com | Teléfono: +34 666666666</p>
        
        <ul class="redes-sociales">
            <li><a href="https://facebook.com/tupagina" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/tupagina" target="_blank">Twitter</a></li>
        </ul>
        <p>Derechos de Autor © 2024 PJEvents. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
